<div class="container">
  <h1 class="title">To-Do List</h1>
  <form class="form" #todoForm="ngForm" (ngSubmit)="handleSubmit(todoForm)">
    <mat-form-field class="form-field" floatLabel="always">
      <mat-label>New Task</mat-label>
      <input matInput type="text" ngModel name="todo" id="todo" required />
      <mat-hint *ngIf="todoForm.invalid && todoForm.dirty"
        >Todo description is required</mat-hint
      >
    </mat-form-field>
    <div class="form-actions">
      <button
        mat-flat-button
        class="form-button"
        type="submit"
        [disabled]="todoForm.invalid"
      >
        Add Task
      </button>
    </div>
  </form>
  <mat-spinner class="spinner" [diameter]="70" *ngIf="isLoading"></mat-spinner>

<table class="table" *ngIf="!isLoading">
  <tr>
    <th class="column-header">Description</th>
    <th class="column-header">Status</th>
    <th class="column-header">Edit</th>
    <th class="column-header">Save</th>
    <th class="column-header">Delete</th>
  </tr>

  @for (todo of todos; track todo._id) {
  <tr>
    <td>
      <form #todoEditForm="ngForm">
        <mat-form-field class="form-field">
          <input
            matInput
            type="text"
            name="todo-edit"
            [id]="todo._id"
            [(ngModel)]="todo.description"
            [ngClass]="{'completed': !!todo.isCompleted }"
            [readonly]="!todo.isEditable"
            required
          />
          <mat-hint *ngIf="todoEditForm.invalid && todoEditForm.dirty"
            >Todo description is required</mat-hint
          >
        </mat-form-field>
      </form>
    </td>
    <td>
      <mat-checkbox
        class="example-margin"
        [checked]="todo.isCompleted"
        (change)="handleStatusChange($event, todo._id)"
      />
    </td>
    <td>
      <button
        mat-raised-button
        class="edit-button"
        [disabled]="todo.isEditable"
        (click)="handleEdit(todo._id)"
      >
        Edit
      </button>
    </td>
    <td>
      <button
        mat-raised-button
        class="save-button"
        [disabled]="!todo.isEditable"
        (click)="handleSave(todo._id)"
      >
        Save
      </button>
    </td>
    <td>
      <button
        mat-raised-button
        class="delete-button"
        (click)="handleDelete(todo._id)"
      >
        Delete
      </button>
    </td>
  </tr>
  }
</table>
</div>
