@use '@angular/material' as mat;

$default-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$compact-theme: mat.define-theme(
  (
    density: (
      scale: -5,
    ),
  )
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

:root {
  @include mat.all-component-themes($default-theme);
  @include mat.form-field-density($compact-theme);
}

@include mat.color-variants-backwards-compatibility($default-theme);
